<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RatherFit | Guide Your Path to a Better You!</title>

  <link rel="stylesheet" href="public/css/font-awesome/css/font-awesome.css">

  <!--compiled bootstrap theme css-->
  <link rel="stylesheet" href="public/css/style.css">

  <script type="text/javascript" src="public/js/lib/jquery.js"></script>
  <script type="text/javascript" src="public/js/lib/underscore.js"></script>
  <script type="text/javascript" src="public/js/lib/backbone.js"></script>
  <script type="text/javascript" src="public/js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="public/js/lib/testing.js"></script>

</head>
<body>
<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i class="fa fa-heart-o"></i> {{message}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-2 col-lg-4 red">
    
      <div class="media joels-media">
        <a class="media-left" href="#">
          <img src="http://placehold.it/100x100" />
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          <p>body text</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-2 col-lg-4 red notredbutgray">
      <div class="pad">this</div>
      <div class="btn-group" role="group" aria-label="this is a button group">
        <button class="btn btn-joel">this is a button</button>
        <button class="btn btn-greg">this is a button</button>
      </div>

    </div>
    <div class="col-sm-6 col-md-2 col-lg-4 red">
      <div class="pad joels-media">this</div>

    </div>
    <div class="col-sm-6 col-md-2 col-lg-4 red">
      <div class="pad">this</div>
    </div>
    <div class="col-sm-6 col-md-2 col-lg-4 red">
      <div class="pad">this</div>
    </div>
    <div class="col-sm-6 col-md-2 col-lg-4 red">
      <div class="pad">this</div>
    </div>
  </div>
</div>
<!--     <div class="container">
      <div id="my-app"></div>
    </div>
    <div id='image'></div>
 -->

  
  <script type="text/javascript" src="public/js/init-app.js"></script>
  <script type="text/javascript" src="public/js/templates.js"></script>
  <script type="text/javascript" src="public/js/main.js"></script>

</body>
</html>